{% extends 'base.html.twig' %}

{% block title %}Rechercher un professionnel{% endblock %}

{% block body %}
    <h1 class="mb-2 ml-5">Rechercher un professionnel</h1>
    <div class="mb-2 ml-5">
        <form action="/search/" method="get">
            <input type="search" name="search" id=""search value="{{ searchString|default('') }}">
            <button type="submit" class="btn ml-3 my-3 md:my-0">Rechercher</button>
        </form>
    </div>

    <div class="flex flex-wrap justify-items-stretch">
    {% for activity in activities %}
        <div class="basis-1 md:basis-1/4 m-5">
            <a href="{{ path('app_main_activity_show', {'id': activity.id}) }}">
                <div class="block p-6 rounded-lg shadow-lg border-2 bg-white min-h-full">
                    <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">{{ activity.name }}</h5>
                    <p>{{ activity.region.name }} - {{ activity.localisation }}</p>
                    <p class="text-gray-700 text-base mb-4">
                    {{ activity.description }}
                    </p>
                </div>
            </a>
        </div>
    {% else %}
        <p>Vous n'avez pas encore d'activités</p>
    {% endfor %}
    </div>
{% endblock %}
