{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<section class="border-2 border-black mb-3 p-3">
    <h1>Mon profil</h1>
    <table class="mb-2 border-collapse border border-slate-400">
        <thead>
            <tr>
                <th class="p-2 border border-slate-300">Id</th>
                <th class="p-2 border border-slate-300">Email</th>
                <th class="p-2 border border-slate-300">Roles</th>
                <th class="p-2 border border-slate-300">Password</th>
                <th class="p-2 border border-slate-300">IsVerified</th>
                <th class="p-2 border border-slate-300">actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="p-2 border border-slate-300">{{ user.id }}</td>
                <td class="p-2 border border-slate-300">{{ user.email }}</td>
                <td class="p-2 border border-slate-300">{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td class="p-2 border border-slate-300">{{ user.password }}</td>
                <td class="p-2 border border-slate-300">{{ user.isVerified ? 'Yes' : 'No' }}</td>
                <td class="p-2 border border-slate-300">
                    <a class="p-1 bg-sky-500 rounded-lg" href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a class="p-1 bg-sky-500 rounded-lg" href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</section>
<section class="border-2 border-black p-3">
    <h1 class="mb-3">Mes activités</h1>
    <a href="{{ path('app_profil_activity_new') }}" class="btn">Créer</a>

    <table class="table m-5">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Website</th>
                <th>Localisation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.id }}</td>
                <td>{{ activity.name }}</td>
                <td>{{ activity.description }}</td>
                <td>{{ activity.website }}</td>
                <td>{{ activity.localisation }}</td>
                <td>
                    <a href="{{ path('app_activity_show', {'id': activity.id}) }}">show</a>
                    <a href="{{ path('app_activity_edit', {'id': activity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}