{% extends 'base.html.twig' %}

{% block title %}Activity index{% endblock %}

{% block body %}
    <h1 class="mb-2">Activity index</h1>

    <table class="mb-2 border-collapse border border-slate-400">
        <thead>
            <tr>
                <th class="p-2 border border-slate-300">Id</th>
                <th class="p-2 border border-slate-300">Name</th>
                <th class="p-2 border border-slate-300">Description</th>
                <th class="p-2 border border-slate-300">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td class="p-2 border border-slate-300">{{ activity.id }}</td>
                <td class="p-2 border border-slate-300">{{ activity.name }}</td>
                <td class="p-2 border border-slate-300">{{ activity.description }}</td>
                <td class="p-2 border border-slate-300">
                    <a class="p-1 bg-sky-500 rounded-lg" href="{{ path('app_activity_show', {'id': activity.id}) }}">show</a>
                    <a class="p-1 bg-sky-500 rounded-lg" href="{{ path('app_activity_edit', {'id': activity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="mb-2">
        <a class="btn" href="{{ path('app_activity_new') }}">Create new</a>
    </div>
{% endblock %}
