{% extends 'base.html.twig' %}

{% block title %}Activité{% endblock %}

{% block body %}
    <h1 class="mb-2">Création d'une activité</h1>

    {{ include('activity/_form.html.twig') }}

    {# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }} #}

    <a href="{{ path('app_activity_index') }}">retour</a>
{% endblock %}
