{% extends 'base.html.twig' %}

{% block title %}Activity{% endblock %}

{% block body %}
    <h1>Activity</h1>
    {{ dump(activity)}}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ activity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ activity.description }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ activity.website }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ activity.localisation }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ activity.contact.email }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ activity.region.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_activity_index') }}">back to list</a>

    <a href="{{ path('app_activity_edit', {'id': activity.id}) }}">edit</a>

    {{ include('activity/_delete_form.html.twig') }}
{% endblock %}
