{% extends 'base.html.twig' %}

{% block title %}Modification d'un produit{% endblock %}

{% block body %}
    <h1 class="mb-3 text-xl">Modification d'un produit</h1>

    {{ form_start(form) }}
        <!--     Product Name     -->
        <div class="mb-3">
            {% set class = '' %}
            {% if not form.name.vars.valid %}
                {% set class = 'bg-red-200' %}
            {% endif %}
            <input  type="text" 
                    id="{{ form.name.vars.id }}" 
                    name="{{ form.name.vars.full_name }}" 
                    value="{{ form.name.vars.value }}" 
                    placeholder="Nom du produit"     
                    class="{{ class }}"
            />
            {{ form_errors(form.name) }}
            {% do form.name.setRendered %}
        </div>


        <!--     Product Activity     -->
        <div class="mb-3 hidden">
            {% set class = '' %}
            {% if not form.activity.vars.valid %}
                {% set class = 'bg-red-200' %}
            {% endif %}
            <select id="{{ form.activity.vars.id }}" 
                    name="{{ form.activity.vars.full_name }}"
                    class="{{ class }}"
            >
                {% for activity in form.activity.vars.choices %}
                    <option value="{{ activity.value }}" {% if activity is selectedchoice(form.activity.vars.value) %} selected="selected"{% endif %}>{{ activity.label }}</option>
                {% else %}
                    <option value="0">no value found</option>
                {% endfor %}
            </select>
            {{ form_errors(form.activity) }}
            {% do form.activity.setRendered %}
        </div>

    <button type="submit" class="btn">Modifier</button>
    <div class="bg-red-200">
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}

    <a href="{{ path('app_profil_activity_show', {'id': form.activity.vars.value}) }}">retour</a>
{% endblock %}
