{% extends 'base.html.twig' %}

{% block title %}Contact | {{ activity.name }}{% endblock %}

{% block body %}

    <div class="m-3">
        <p class="text-2xl font-bold">{{ activity.name }}</p>
        <p>{{ activity.localisation }} - {{ activity.region.name }}</p>
        <p>{{ activity.description }}</p>
    </div>
    <div class="m-3">
        <p>{{ activity.website }}</p>
        <p>{{ activity.contact.firstname }} {{ activity.contact.lastname }}</p>
        <p>{{ activity.contact.email }}</p>
    </div>

    <a href="{{ app.request.headers.get('referer') }}" class="btn">Retour</a>
{% endblock %}
